.title{
	font-family:"Times New Roman", sans-serif;
	font-weight: bolder;
	font-size: 40px; 
	color:#02558B;
	text-align: center;
	margin-top:20px;
	text-decoration:underline;
}
.title2{
	
	font-size:22px;
}
.edufont{	
	font-family: "微軟正黑體";
}
.piccenter{
	width: 100px;
	height: 100px;
	display: block;
	margin-left: 60px;
}